node_modules/
.projectile
.cache/
coverage/
/packages/eslint-plugin-googlejs/dist/tests/
.agignore
npm-debug.log
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
docs/vendor/
docs/Gemfile.lock
**/bazel-bin
**/bazel-genfiles
**/bazel-out
**/bazel-testlogs
/docs/js/app/googlejs-eslint-plugin.min.js
