.editorRow {
    padding-top: 30px;
}

@media(min-width: 992px) {
    .results {
        max-height: 350px;
        overflow-y: auto;
    }
}

.list label {
    font-weight: 400;
}

.rules .popover {
    min-width: 250px;
}

.rules .popover-content {
    font-size: 12px;
}

.rules .radio+.radio, .rules .checkbox+.checkbox {
    margin-top: inherit;
}
.err {
  border-bottom:2px dotted red;
  display: inline-block;
  position: relative;

}

.err:after {
  content: '';
  width: 100%;
  border-bottom:2px dotted red;
  position: absolute;
  font-size: 16px;
  top: 15px; /* Must be font-size minus one (16px - 1px) */
  left: -2px;
  display: block;
  height: 4px;


}

.cm__lint-warning {
  background-image:
  linear-gradient(45deg, transparent 65%, #EE7600 80%, transparent 90%),
  linear-gradient(135deg, transparent 5%, #EE7600 15%, transparent 25%),
  linear-gradient(135deg, transparent 45%, #EE7600 55%, transparent 65%),
  linear-gradient(45deg, transparent 25%, #EE7600 35%, transparent 50%);
  background-repeat:repeat-x;
  background-size: 8px 2px;
  background-position:0 100%;
}

.cm__lint-error {
  background-image:
    linear-gradient(45deg, transparent 65%, red 80%, transparent 90%),
    linear-gradient(135deg, transparent 5%, red 15%, transparent 25%),
    linear-gradient(135deg, transparent 45%, red 55%, transparent 65%),
    linear-gradient(45deg, transparent 25%, red 35%, transparent 50%);
  background-repeat:repeat-x;
  background-size: 8px 2px;
  background-position:0 100%;
}
.cm-gutter-container {
  width: 10px;
}

.cm-gutter__warning {
  color: orange;
  font-size: 150%;
}

.cm-gutter__error {
  color: red;
  font-size: 150%;
}

.CodeMirror {
  height: auto !important;
  border: 1px solid #aaa;
}

.active {
  background-color: green;
}
